<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Battlebots</title>
</head>
<body>
<h1>Battlebots!</h1>
  <nav>
     <a class="btn" href=index.erb>Home</a>
        <a class="btn" href=dronerace.erb>Drone</a>
           <a class="btn" href=megabots.erb>MegaBots</a>
         </nav>
<p>  BattleBots is an American robot competition television series. Competitors design and operate remote-controlled armed and armored machines designed to fight in an arena combat elimination tournament. For five seasons, BattleBots aired on the American Comedy Central and was hosted by Bil Dwyer, Sean Salisbury, and Tim Green. Comedy Central's first season premiered on August 30, 2000, and its fifth and last season ended on December 21, 2002.</p>

<h2>Weight Classes</h2>

<p>Robots at BattleBots tournaments were separated into four weight classes in seasons 1-5. The weight limits increased slightly over time. At the final tournaments the classes were:
Lightweight – 60 pounds (27 kilograms)
Middleweight – 120 pounds (54 kilograms)
Heavyweight – 220 pounds (100 kilograms)
Superheavyweight – 340 pounds (154 kilograms)
<br>
"Walking" robots ("StompBots") propelled by means other than wheels were initially given a 50% weight bonus. The rules changed following the victory of a heavyweight StompBot (Son of Whyachi) at BattleBots 3.0. For BattleBots 4.0 and beyond only a 20% weight bonus was given to walkers and the technical rules specified that walking mechanisms not use cam operated walking mechanisms as they were functionally too similar to wheel operation. Since the rules change, walking robots have entered the competition, but none has achieved any success beyond preliminary rounds.
Starting in season 6, there are no longer separate weight classes while the weight limit for heavyweights was increased from 220-pounds to 250-pounds.
</p>


</body>
</html>
