<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker"
</head>
<body>
  <br>
  <br>
  <br>
<div id="content4"><h1>Battlebots!</h1></div>
  <nav>
    <div class="menu-box">
 <div class="logo-box">
   <img src="https://media.giphy.com/media/d6fxESof7f9Ac/giphy.gif" alt="Smiley face" height="55" width=50%>
 </div>
 <div class="box-with-text">Butchered By Proxy</div>
   <div class="nav">
     <ul>
       <li class="DRL"><a href='dronerace'>DRL</a></li>
       <li class="MegaBots"><a href='megabots'>MegaBots</a></li>
       <li class="home"><a href='/'>Home</a></li>
     </ul>
   </div>
 </div>
         </nav>



<p>  BattleBots is an American robot competition television series. Competitors design and operate remote-controlled armed and armored machines designed to fight in an arena combat elimination tournament. For five seasons, BattleBots aired on the American Comedy Central and was hosted by Bil Dwyer, Sean Salisbury, and Tim Green. Comedy Central's first season premiered on August 30, 2000, and its fifth and last season ended on December 21, 2002.</p>

<div id="content1"><h2>Weight Class</h2></div>

<p>Robots at BattleBots tournaments were separated into four weight classes in seasons 1-5. The weight limits increased slightly over time. At the final tournaments the classes were: <br>
Lightweight – 60 pounds (27 kilograms)
Middleweight – 120 pounds (54 kilograms)
Heavyweight – 220 pounds (100 kilograms)
Superheavyweight – 340 pounds (154 kilograms)
<br>
<br>
"Walking" robots ("StompBots") propelled by means other than wheels were initially given a 50% weight bonus. The rules changed following the victory of a heavyweight StompBot (Son of Whyachi) at BattleBots 3.0. For BattleBots 4.0 and beyond only a 20% weight bonus was given to walkers and the technical rules specified that walking mechanisms not use cam operated walking mechanisms as they were functionally too similar to wheel operation. Since the rules change, walking robots have entered the competition, but none has achieved any success beyond preliminary rounds.
Starting in season 6, there are no longer separate weight classes while the weight limit for heavyweights was increased from 220-pounds to 250-pounds.
</p>

<div id="content2"><h3>Matches</h3></div>

<p>Matches are three minutes long. During a match, two robots do their best to destroy each other using whatever means available. The match begins by a series of lights that flash from yellow to green. The original Comedy Central version used a standard Christmas tree as seen in the sport of drag racing; the ABC revival uses just one box of lights that flash yellow three times, and then flash green.<br>
  <br>
There are only two events that cause the match to be paused and people enter the BattleBox. One is the event that the robots are stuck together and cannot separate or that both have simultaneously become immobilized. The other scenario is that one or both 'bots have caught on fire. In that case, the people entering the BattleBox are equipped with a fire extinguisher.<br>
<br>
If a robot is unable to move for ten seconds, because it is too badly damaged or it is stuck on the arena hazards, it is declared knocked out. In the Comedy Central version, the driver could also call a "tap-out" to forfeit the match if his or her robot is about to be destroyed. This ends the match ten seconds later; the opposing driver is "asked" (but not instructed) not to attack during the ten-second count.<br>
<br>
If both robots survive the three minutes, three judges distribute a total of 45 points (15 points a judge, 5 points per judge per category) over three categories. The robot with the higher score wins. The judging categories are Aggression, Strategy, and Damage. In Season 6 (June/July 2015), the judging categories were Aggression, Damage, Strategy, and Control. A robot who hangs back safely from its opponent will not get many Aggression points; one in there fighting the whole time, however, will. The Strategy category is about how well a robot exploits its opponent's weaknesses, protects its own, and handles the hazards. A robot driving over the kill saws will lose points here, unless it had good reason to do so, while a robot that is able to attack its opponent's weak areas will gain points. The Damage category is for how much damage the bot can deal to its opponent while remaining intact itself.
The winner moves on; the loser is eliminated from the tournament.<br>
<br>
At the end of the tournament, a series of 'rumbles' or 'melee rounds' is typically held in each weight class, allowing robots that survived the main tournament to fight in a 'free for all' in a 5-minute match. Occasionally there are too many robots for one rumble, and multiple rumbles are held with the top surviving bots competing in a final event. During the Season 5 Heavyweight rumble (the first rumble of that competition), a sheared-off robot part went through the Lexan arena roof and fell (harmlessly) into the audience. Because of this, the rest of the rumbles were canceled due to safety concerns</p>

<div id="content3"><h4>Arena</h4></div>
<p>The BattleBox is a 48' x 48' square arena designed to protect the drivers, officials, and audience from flying shrapnel and charging bots. It was originally designed by Pete Lampertson. For the 2015 season, Pete is still overseeing the box with the help of Matt Neubauer. It has a steel floor and steel-framed walls and roof paneled with thick, bulletproof polycarbonate plastic. The teams bring their robots in through doorways, which are sealed after all humans have exited. The drivers control their machines from outside the sealed arena. <br>
<br>
Arena hazards are intended to make fights more interesting and unpredictable, and to reward drivers who can avoid the hazards while pushing or carrying their opponent into them. Hazards from the first five seasons include:<br>
<br>
Pulverizers: Originally pneumatic powered standard sledgehammers that did minimal damage, the Pulverizers were first upgraded to 50 pound aluminum mallets for season 2, and were again upgraded to 150 pound mallets for season 3 and beyond. The pulverizers were capable of causing serious damage to the lighter weight class robots.<br>
<br>
Spike Strips: The lower walls of the arena are lined with inward pointing 6-inch long sharpened steel spikes. Pushing an opponent hard into a wall can sometimes lodge it into the spikes, immobilizing it.<br>
<br>
Spinners: Large, rapidly spinning discs embedded in the arena floor, Not intended to damage a robot, but rather to interfere with navigation. The spinners could fling lighter class robots across the arena, but the impact on heavier robots was minimal<br>
<br>
Kill Saws: Spinning circular saw blades that rise out of slots in the arena floor under the control of "Pulverizer Pete". These carbide-tipped saw blades can damage a robot's tires or chassis. In later seasons, red 'throwing blades' were added to increase the chance of a bot being thrown across the arena.<br>
<br>
Pistons: Introduced in Season 3, the Pistons are steel columns that raise and lower from the floor without warning. They can stop a charging robot or tip a slow moving robot onto its side. The Pistons were removed for Seasons 4 and 5.
Ramrods: Sharpened steel spikes that rise up out of the arena floor in groups of six, serving either to lift a robot off the ground or damage vulnerable portions of the undercarriage.<br>
<br>
Hell Raisers: A pneumatic ram that can tilt up specific sections of the arena floor. The 15 degree tilt may become a launching ramp, or may abruptly block passage. The Hell Raisers were removed for Season 5 to allow more uncluttered room for the robots.<br>
<br>
Screws: Introduced for season 3, these devices were a modification to the static spike strips. The screws were continually rotating augers placed horizontally along the edges of the arena floor. The Screws were intended to scrape up a bot, and possibly drag it closer to the Pulverizers due to the corkscrew design. Much like the Spinners, the Screws had a greater effect on the lighter weight classes—although their impact on all weight classes was small. For Season 5, the screws were upgraded with biting 'teeth' to better catch onto robots. Their rotation was also modified so that instead of 'pushing' in one direction, they converged in a corner from opposite directions and created a 'V' that could damage or turn over robots.</p>
<br>
<br>
<br>


<!-- css grid box -->
<div class="wrapper">
  <div class="box header">Butchered by proxy team!</div>
  <div class="box sidebar"><img class="sidebarImg" src="https://cdn.redshift.autodesk.com/2016/06/team-bronco-rose-bradley.jpg" alt="" /></div>
  <div class="box content"> Our team has been together since 2009 making robots. Both members went to MIT and that is where they developed their passion for engineering which ultimately took here where they won 2 seasons of BattleBots! Their robot (The Butcher) is a launcher type robot that can control the arena if you are not careful and put ypu into the many traps laid across the playing field.
    If you have any other questions please e-mail us on our home page!
    </div>
  <div class="box footer">Thanks for your interest in out team!</div>
</div>
<br>
<br>
<br>
<footer>

<div class= "sMedia"><img src="../images/twitter.png" alt="">
          <img src="../images/facebook.png" alt="">
          <img src="../images/ig.png" alt="">
          <img src="../images/youtube.png" alt="">
          <img src="../images/email.png" alt=""></div>


</footer>

</body>
</html>
