<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"> -->
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>Butchered by Proxy</title>
  </head>
  <body>
    <div class="menu-box">
      <div class="logo-box">
        <img src="https://media.giphy.com/media/d6fxESof7f9Ac/giphy.gif" alt="Smiley face" height="55" width=50%>
      </div>
      <div class="box-with-text">Butchered By Proxy</div>
      <div class="nav">
        <ul>
          <li class="home"><a href='/'>Home</a></li>
          <li class="MegaBots"><a href='megabots'>MegaBots</a></li>
          <li class="BattleBots"><a href='battlebots'>BattleBots</a></li>
          <li class="DRL"><a href='dronerace'>DRL</a></li>
        </ul>
      </div>
    </div>
    <div class="drl-gridc">
      <!-- <div class="top-spacer"></div> -->
      <div class="spacer-1"></div>
      <div class="topspace">
        <h1>Butchered By Proxy Drone Racing Team</h1>
        <iframe width="420" height="315"
          src="https://www.youtube.com/embed/bOWkkoczEPQ?rel=0&amp;showinfo=0;controls=1"
          allowfullscreen>
        </iframe>
      </div>
      <div class="spacer-2"></div>
      <div class="drl-content">
        <div class="content-left">
          <p>What is Drone Racing?</p>
        </div>
        <div class="content-right">
          <p>Drone Racing is an exciting new competition-based sport where custom, performance quad-copter remote-controlled drones are flown through complex courses in a bid to see who's the fastest. Drones can reach 120mph as they're piloted by players wearing VR helmets to get a First-Person view from a camera mounted on each drone. Find the nearest DRL league match near you and get in on the action!</p>
        </div>
      </div>
      <div class="player-card">
        <div class="player-card-left">
          <div class="player-spacer-top">
          </div>
          <div class="player-spacer-vert"></div>
          <div class="portrait-window">
            <img src="../images/silhouette.jpeg" alt="Willie Dustice">
          </div>
          <div class="player-spacer-vert-2"></div>
          <div class="player-social-btn-box">
            <img src="../images/playertw.png" alt="player-tw">
          </div>
          <div class="player-spacer-vert-3"></div>
          <div class="player-social-btn-box">
            <img src="../images/playerfb.png" alt="player-fb">
          </div>
          <div class="player-social-btn-box">
            <img src="../images/playerig.png" alt="player-ig">
          </div>
          <div class="player-social-btn-box">
            <img src="../images/playeryt.png" alt="player-yt">
          </div>
          <div class="player-spacer-bot">
          </div>
        </div>
        <div class="player-content">
          <h5>Main Pilot</h5>
          <h2>Willie Dustice</h2>
          <p>Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="player-card">
        <div class="player-card-left">
          <div class="player-spacer-top">
          </div>
          <div class="player-spacer-vert"></div>
          <div class="portrait-window">
            <img src="../images/silhouette.jpeg" alt="Raul Chamgerlain">
          </div>
          <div class="player-spacer-vert-2"></div>
          <div class="player-social-btn-box">
            <img src="../images/playertw.png" alt="player-tw">
          </div>
          <div class="player-spacer-vert-3"></div>
          <div class="player-social-btn-box">
            <img src="../images/playerfb.png" alt="player-fb">
          </div>
          <div class="player-social-btn-box">
            <img src="../images/playerig.png" alt="player-ig">
          </div>
          <div class="player-social-btn-box">
            <img src="../images/playeryt.png" alt="player-yt">
          </div>
          <div class="player-spacer-bot">
          </div>
        </div>
        <div class="player-content">
          <h5>Team Coach</h5>
          <h2>Raul Chamgerlain</h2>
          <p>Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
        <div class="player-card">
          <div class="player-card-left">
            <div class="player-spacer-top">
            </div>
            <div class="player-spacer-vert"></div>
            <div class="portrait-window">
              <img src="../images/silhouette.jpeg" alt="Todd Bonzales">
            </div>
            <div class="player-spacer-vert-2"></div>
            <div class="player-social-btn-box">
              <img src="../images/playertw.png" alt="player-tw">
            </div>
            <div class="player-spacer-vert-3"></div>
            <div class="player-social-btn-box">
              <img src="../images/playerfb.png" alt="player-fb">
            </div>
            <div class="player-social-btn-box">
              <img src="../images/playerig.png" alt="player-ig">
            </div>
            <div class="player-social-btn-box">
              <img src="../images/playeryt.png" alt="player-yt">
            </div>
            <div class="player-spacer-bot">
            </div>
          </div>
        <div class="player-content">
          <h5>General Manager</h5>
          <h2>Todd Bonzales</h2>
          <p>Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
        <div class="player-card">
          <div class="player-card-left">
            <div class="player-spacer-top"></div>
            <div class="player-spacer-vert"></div>
            <div class="portrait-window">
              <img src="../images/silhouette.jpeg" alt="Bobson Dugnutt">
            </div>
            <div class="player-spacer-vert-2"></div>
            <div class="player-social-btn-box">
              <img src="../images/playertw.png" alt="player-tw">
            </div>
            <div class="player-spacer-vert-3"></div>
            <div class="player-social-btn-box">
              <img src="../images/playerfb.png" alt="player-fb">
            </div>
            <div class="player-social-btn-box">
              <img src="../images/playerig.png" alt="player-ig">
            </div>
            <div class="player-social-btn-box">
              <img src="../images/playeryt.png" alt="player-yt">
            </div>
            <div class="player-spacer-bot"></div>
          </div>
        <div class="player-content">
          <h5>Team Engineer</h5>
          <h2>Bobson Dugnutt</h2>
          <p>Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="drone-footer">
    </div>
</div>
  </body>
</html>
