<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>Butchered by Proxy</title>
  </head>
  <body>
    <div class="container">
      <div class="menu-box">
        <div class="logo-box">
          <img src="https://media.giphy.com/media/d6fxESof7f9Ac/giphy.gif" alt="Smiley face" height="55" width=50%>
        </div>
        <div class="box-with-text">Butchered By Proxy</div>
        <div class="nav">
          <ul>
            <li class="home"><a href='/index'>Home</a></li>
            <li class="MegaBots"><a href='/megabots'>MegaBots</a></li>
            <li class="BattleBots"><a href='/battlebots'>BattleBots</a></li>
            <li class="DRL"><a href='/dronerace'>DRL</a></li>
          </ul>
        </div>
      </div>
      <div class="spacer">2</div>
      <div class="topspace">
        <h1>Butchered By Proxy Drone Racing Teamq</h1>
      </div>
      <div class="spacer">4</div>
      <div class="content">
        <div class="content-left">
          <p>What is Drone Racing?</p>
        </div>
        <div class="content-right">
          <p>Drone Racing is an exciting new competition-based sport where custom, performance quad-copter remote-controlled drones are flown through complex courses in a bid to see who's the fastest. Drones can reach 120mph as they're piloted by players wearing VR helmets to get a First-Person view from a camera mounted on each drone. Find the nearest DRL league match near you and get in on the action!</p>
        </div>
      </div>
      <div class="playercard">
        6
        <div class="portrait-window">
          <img src="silhouette.jpeg" alt="Willie Dustice">
          <img src="../images/playertw.png" alt="player-tw">
          <img src="../images/playerfb.png" alt="player-fb">
          <img src="../images/playerig.png" alt="player-ig">
          <img src="../images/playeryt.png" alt="player-yt">
        </div>
        <div class="playercontent">
          <h5>Main Pilot</h5>
          <h2>Willie Dustice</h2>
          <img src="../images/us.png" alt="us">
        </div>
      </div>
      <div class="playercard">
        7
        <div class="portrait-window">
          <img src="silhouette.jpeg" alt="Raul Chamgerlain">
          <img src="../images/playertw.png" alt="player-tw">
          <img src="../images/playerfb.png" alt="player-fb">
          <img src="../images/playerig.png" alt="player-ig">
          <img src="../images/playeryt.png" alt="player-yt">
        </div>
        <div class="playercontent">
          <h5>Team Coach</h5>
          <h2>Raul Chamgerlain</h2>
          <img src="../images/kr.png" alt="kr">
        </div>
      </div>
      <div class="playercard">
        8
        <div class="portrait-window">
          <img src="silhouette.jpeg" alt="Todd Bonzales">
          <img src="../images/playertw.png" alt="player-tw">
          <img src="../images/playerfb.png" alt="player-fb">
          <img src="../images/playerig.png" alt="player-ig">
          <img src="../images/playeryt.png" alt="player-yt">
        </div>
        <div class="playercontent">
          <h5>General Manager</h5>
          <h2>Todd Bonzales</h2>
          <img src="../images/fr.png" alt="fr">
        </div>
      </div>
      <div class="playercard">
        9
        <div class="portrait-window">
          <img src="silhouette.jpeg" alt="Bobson Dugnutt">
          <img src="../images/playertw.png" alt="player-tw">
          <img src="../images/playerfb.png" alt="player-fb">
          <img src="../images/playerig.png" alt="player-ig">
          <img src="../images/playeryt.png" alt="player-yt">
        </div>
        <div class="playercontent">
          <h5>Team Engineer</h5>
          <h2>Bobson Dugnutt</h2>
          <img src="../images/us.png" alt="us">
        </div>
      </div>
      <div class="dronefooter">

      </div>
    </div>

  </body>
</html>
