
<nav>
  <div class="menu-box">
<div class="logo-box">
 <img src="https://media.giphy.com/media/d6fxESof7f9Ac/giphy.gif" alt="Smiley face" height="55" width=50%>
</div>
<div class="box-with-text">Butchered By Proxy</div>
 <div class="nav">
   <ul>

     <li class="DRL"><a href='dronerace'>DRL</a></li>
     <li class="BattleBots"><a href='battlebots'>BattleBots</a></li>
     <li class="MegaBots"><a href='megabots'>MegaBots</a></li>
     <li class="home"><a href='/'>Home</a></li>
   </ul>
 </div>
</div>
</nav>

<div class="plane">
  <img id="robo" src="/images/pp1.png" alt="Avatar">
</div>

<div class="content">
<div class="card c1" onmouseover="expandCard1()">
  <img id="robo" src="/images/rt.png" alt="Avatar" style="width:100%">
  <div class="cardContainer">
    <h4><b>Meet Team</b></h4>
  </div>
</div>

<div class="meetTeam hidden" onmouseleave="expandCard1()">
    <h4><b>Meet the Team</b></h4>
         <div class="member">
        <img id="cardImg" src="https://dummyimage.com//112x112/000/fff&text=image" style="width:50%">
        <p id="cardText"> John Doe <br />
            Age: 26 years old <br />
            Computer Programmer<br />
        </p>
        </div>
        <div class="member">
        <img id="cardImg" src="https://dummyimage.com//112x112/000/fff&text=image" style="width:50%">
        <p id="cardText"> Jane Doe <br />
            Age: 28 years old <br />
            Mechanical Engineer<br />
        </p>
        </div>
        <div class="member">
          <img id="cardImg" src="https://dummyimage.com//112x112/000/fff&text=image" style="width:50%">
        <p id="cardText"> Elmo Doe<br />
            Age: 24 years old<br />
            Electrical Engineer<br />
        </p>
        </div>
          <div class="member">
            <img id="cardImg" src="https://dummyimage.com//112x112/000/fff&text=image" style="width:50%">
        <p id="cardText"> Micheal Doe<br />
            Age: 28 years old<br />
            Mechanical Engineer<br />
        </p>
        </div>
  </div>


   <div class="card c2" onmouseover="expandCard2()">
  <img id="robo" src="/images/tl.png" alt="Avatar" style="width:100%">

  <div class="cardContainer">
    <h4><b>About Megabots</b></h4>
  </div>
  </div>

  <div class="aboutMega hidden" onmouseleave="expandCard2()">
    <div id="aboutText">
    <h4><b>About Megabots</b></h4>
    <p id="aboutText">Giant. Fighting. Robots. <br />

      MegaBots, uses cutting-edge robotics technology to create the giant piloted fighting robots of science fiction, videogames and movies. These robots fight in epic-scale arena combat the likes of which the world has never seen before.<br />

      MegaBots are 15-foot-tall, internally piloted humanoid robots that fire cannonball-sized paintballs at each other at speeds of over 120 miles per hour. As the robots battle, armor panels shear off and litter the field, smoke and sparks pour out of the chassis, massive robotic limbs tear off, and robots crumple to the ground until only one is left standing.<br />

      The giant robots from science fiction are coming.</p>
  </div>
 </div>


  <div class="card c3" onmouseover="expandCard3()">
  <img id="robo" src="/images/rb.jpg" alt="Avatar" style="width:100%">
  <div class="cardContainer">
    <h4><b>Upcoming Events</b></h4>
  </div>
</div>

<div class="megaEvent hidden" onmouseleave="expandCard3()">
  <h4 id="eventText"><b>Upcoming Events</b></h4>
 <p id="eventText">While there are no upcoming events. We plan on working on our robot</p>
</div>
</div>
