<div class="card c1" onmouseover="expandCard1()">
  <div class="cardContainer">
    <h4><b>Meet Team</b></h4>
  </div>
</div>

<div class="meetTeam hidden" onmouseleave="expandCard1()">
  <div class="teamContainer">
    <h4><b>Meet the Team</b></h4>
    <ul>
        <img id="cardImg" src="img_avatar.png" alt="Avatar" style="width:10%">
        <p id="cardText"> John Doe <br />
            Age: 26 years old <br />
            Computer Programmer<br />
        </p>
        <img id="cardImg" src="img_avatar.png" alt="Avatar" style="width:10%">
        <p id="cardText"> Jane Doe <br />
            Age: 28 years old <br />
            Mechanical Engineer<br />
        </p>
      <img id="cardImg" src="img_avatar.png" alt="Avatar" style="width:10%">
        <p id="cardText"> Elmo Doe <br />
            Age: 24 years old <br />
            Electrical Engineer<br />
        </p>
      <img id="cardImg" src="img_avatar.png" alt="Avatar" style="width:10%">
        <p id="cardText"> Micheal Doe <br />
            Age: 28 years old <br />
            Mechanical Engineer<br />
        </p>
    </ul>
  </div>
  </div>


   <div class="card c2" onmouseover="expandCard2()">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="cardContainer">
    <h4><b>About Megabots</b></h4>
  </div>
  </div>


  <div class="card c3" onmouseover="expandCard3()">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="cardContainer">
    <h4><b>Upcoming Events</b></h4>
  </div>
</div>
