<div class="card c1" onmouseover="expandCard1()">
  <div class="cardContainer">
    <h4><b>Meet Team</b></h4>
  </div>
</div>

   <div class="card c2" onmouseover="expandCard2()">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="cardContainer">
    <h4><b>About Megabots</b></h4>
  </div>
  </div>


  <div class="card c3" onmouseover="expandCard3()">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="cardContainer">
    <h4><b>Upcoming Events</b></h4>
  </div>
</div>
