


.plane {
  float: right;
  transform: 'rotate(-180deg)';
}

#robo {
  border-radius: 8px;
}

.card {
    border: 2px solid linear-gradient(#7C9EB2, #3D5A6C);
    border-radius: 8px;
    background: linear-gradient(#7C9EB2, #3D5A6C);
    display: block;
    top: 50px;
    left: 25%;
    margin-bottom:80px;
    width: 25%;
    text-align: center;
    box-shadow: 10px 10px 5px #888888;
    transition: 0.3s;
    color: #A1E8AF;
    font-family: cursive;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardContainer {
    padding: 2px 16px;
}

.meetTeam {
  font-family: myFirstFont;
    border: 2px solid linear-gradient(#7C9EB2, #3D5A6C);
    border-radius: 8px;
    background: linear-gradient(#7C9EB2, #3D5A6C);
    color: #A1E8AF;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
    font-family: cursive;
}

.member {
  display: inline-block;
}

#cardImg {
  color: #A1E8AF;
  float: left;
}

#cardText {
  color: #A1E8AF;
  float: left;
  font-family: cursive;
}

.aboutMega{
  background: linear-gradient(#7C9EB2, #3D5A6C);
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-family: cursive;
}

#aboutText{
  padding: 30px;
  color: #A1E8AF;
  font-family: cursive;
  font-size: 18px;
}

.megaEvent{
  background: linear-gradient(#7C9EB2, #3D5A6C);
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-family: cursive;
}

#eventText {
  padding: 30px;
  color: #A1E8AF;
  font-family: cursive;
  font-size: 18px;
}

.hidden {
  display: none;
}
