.card {
    background: linear-gradient(#7C9EB2, #3D5A6C);
    margin-top: 50px;
    margin-left: 25%;
    margin-bottom: 40px;
    width: 50%;
    text-align: center;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: #A1E8AF;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardContainer {
    padding: 2px 16px;
}

.meetTeam {
    background: linear-gradient(#7C9EB2, #3D5A6C);
    color: #A1E8AF;
    display: inline-block;
    margin-top: 50px;
    margin-left: 25%;
    margin-bottom: 40px;
    width: 50%;
    text-align: center;
}

#cardImg {
  color: #A1E8AF;
  float: left;
}

#cardText {
  text-align: center;
  color: #A1E8AF;
}

.aboutMega{
  background: linear-gradient(#7C9EB2, #3D5A6C);
  /*color: #A1E8AF;*/
  margin-top: 50px;
  margin-left: 25%;
  margin-bottom: 40px;
  width: 50%;
  text-align: center;
}

.aboutText{
  text-decoration-color: #A1E8AF;
  width: 90%;

}

.hidden {
  display: none;
}
